@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.jumbotron {
	background-color: #022956;
	/*font color*/
	color: #ffffff;
	padding: 100px 25px;	/*100px up/down, 25px left/right*/
}

.container-fluid {
	/*background-color: midnightblue;*/
	padding: 60px 50px;
}

.logo {
	font-size: 200px;
}

.background {
	background-color:midnightblue;
	color: #ffffff;
}